# Folders to ignore
pytest/
.pytest_cache/
.venv/
labp_v17.xcodeproj/
run.trace/
run4.trace/
src/labp_v19.dSYM/
src/labp_v20.dSYM/
src/labp_v21.dSYM/

# Files to ignore
executables/labp_v199
executables/labp_v21
